nav li {
  list-style: none;
}

.badge {
  top: -6px;
  right: -6px;
}

nav .product-button {
  transition: all 0.5s;
  &:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transform: translate(2px, 2px);
  }
}
